<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332358092582-ap9ju98ur67lj2ggo7lqh45phngrb9kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332358092582-ap9ju98ur67lj2ggo7lqh45phngrb9kd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332358092582-c31dmsmn2a6d18osm3v1af6fmh9n43db.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCczo_WkbcdDk56Pn1dRXpubyiuPR2Xzvg</string>
	<key>GCM_SENDER_ID</key>
	<string>332358092582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ejevika10.lab3</string>
	<key>PROJECT_ID</key>
	<string>lab1-b5a75</string>
	<key>STORAGE_BUCKET</key>
	<string>lab1-b5a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332358092582:ios:d1bf3636212af8bf47e3e7</string>
	<key>DATABASE_URL</key>
	<string>https://lab1-b5a75-default-rtdb.firebaseio.com</string>
</dict>
</plist>